<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h1>Lista de Usuarios</h1>
	</div>
	
	<div class="col-xs-8 col-xs-offset-2">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">Editar</th>
		      <th scope="col">Excluir</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="usuario in usuarios">
		    	<th scope="row">{{usuario.nome}}</th>
      			<td><button type="submit" class="btn btn-primary" ng-click="editarUsuario(usuario.id)">Editar</button></td>
      			<td><button type="submit" class="btn btn-primary" ng-click="excluirUsuario(usuario.id)">Excluir</button></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
